<div class="row animated fadeIn">
    <div class="col-lg-12">
        <h1 class="page-header">Editor</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row animated fadeIn">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <!--
                <p>The User's ID is {{user.id}}</p>
          			<p>The User's name is {{user.name}}</p>
                -->

                <!--h3>Basic JSON Editor Example</h3>
                <p>This is a description paragraph at the start of the page.</p-->
                <div id='valid_indicator'></div>

                <div id='editor_holder'></div>
                <button class="btn btn-primary btn-lg" type="button" id='submit'>Submit (console.log)</button>
                <p>Press F12 to view the output to the developer console.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Output</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <textarea id='output'></textarea>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
